In [1]:
import pandas as pd

# Load the CSV file
csv_file_path = 'Cellcom_query_result.csv'
df = pd.read_csv(csv_file_path, header =None)

# Remove duplicate records
df_cleaned = df.drop_duplicates()

# Save the cleaned dataframe to a new CSV file
cleaned_csv_file_path = 'Cellcom_query_result.csv'

In [2]:
len(df_cleaned)

8170

In [15]:
b = df_cleaned[0].astype(str)
# b = '1' + b
b

0       9202544253
1       9206609186
2       9206212335
3       9202178523
4       9206804717
           ...
8510    9209466859
8511    9206154550
8512    9204194452
8513    7154515423
8515    9207641865
Name: 0, Length: 8170, dtype: object

In [14]:
# Load the text file containing phone numbers
text_file_path = 'Cellcom.txt'

df_missing_check = pd.read_csv(text_file_path, header =None, delimiter='\t')

df_missing_check1 = df_missing_check.iloc[:, 0].astype(str).str.lstrip('1')

a = df_missing_check1

a

0       9202544253
1       9206609186
2       9206212335
3       9202178523
4       9206804717
           ...
8684    9206154550
8685    9204194452
8686    7154515423
8687    7152970070
8688    9207641865
Name: 0, Length: 8689, dtype: object

In [12]:
df_missing_check

                0      1
0     19202544253  53085
1     19206609186  54217
2     19206212335  54126
3     19202178523  54115
4     19206804717  54304
...           ...    ...
8684  19206154550  54311
8685  19204194452  54303
8686  17154515423  54494
8687  17152970070  57702
8688  19207641865  53081

[8689 rows x 2 columns]

In [7]:
# To find all elements in dataframe A (df_cleaned) but not in dataframe B (assuming a similar structure),
# we will compare the 'phone_number' column of both dataframes.

# For demonstration, let's create a sample dataframe B with a similar structure to df_cleaned
# This will have some overlapping and some unique phone numbers


# Find elements in df_cleaned that are not in df_b
unique_in_df_cleaned = a[~a.isin(b)]

unique_in_df_cleaned= unique_in_df_cleaned.reset_index()  # Display the first few rows of the unique elements

unique_in_df_cleaned

     index           0
0       16  7158532999
1       40  9202030929
2       67  9202100644
3       84  7156133116
4      176  7155845671
..     ...         ...
156   8312  7153605787
157   8400  7155813590
158   8515  7159277002
159   8571  9206091860
160   8674  6085759633

[161 rows x 2 columns]

In [8]:
unique_in_df_cleaned["index"]

0        16
1        40
2        67
3        84
4       176
       ...
156    8312
157    8400
158    8515
159    8571
160    8674
Name: index, Length: 161, dtype: int64

In [9]:
# Dropping the column
unique_in_df_cleaned = unique_in_df_cleaned[0]
# Displaying the first few rows to confirm the change
unique_in_df_cleaned

0      7158532999
1      9202030929
2      9202100644
3      7156133116
4      7155845671
          ...
156    7153605787
157    7155813590
158    7159277002
159    9206091860
160    6085759633
Name: 0, Length: 161, dtype: object

In [10]:
unique_in_df_cleaned = '1' + unique_in_df_cleaned
unique_in_df_cleaned

0      17158532999
1      19202030929
2      19202100644
3      17156133116
4      17155845671
          ...
156    17153605787
157    17155813590
158    17159277002
159    19206091860
160    16085759633
Name: 0, Length: 161, dtype: object

In [17]:
b = '1'+b
b

0       19202544253
1       19206609186
2       19206212335
3       19202178523
4       19206804717
           ...
8510    19209466859
8511    19206154550
8512    19204194452
8513    17154515423
8515    19207641865
Name: 0, Length: 8170, dtype: object

In [22]:
df_missing_check[0] = df_missing_check[0].astype(str)

In [23]:
subset_df = df_missing_check[~df_missing_check [0].isin(b)]
subset_df

                0      1
16    17158532999  54104
40    19202030929  54902
67    19202100644  54235
84    17156133116  54405
176   17155845671  53014
...           ...    ...
8312  17153605787  54501
8400  17155813590  54476
8515  17159277002  54143
8571  19206091860  54121
8674  16085759633  53590

[161 rows x 2 columns]

In [25]:
subset_df.to_csv('Cellcom_missing_numbers.csv',header=None, index=False)