In [7]:
import pandas as pd

# Load the CSV file
csv_file_path = 'usxf_query_result1.csv'
df = pd.read_csv(csv_file_path, header =None)

# Remove duplicate records
df_cleaned = df.drop_duplicates()

# Save the cleaned dataframe to a new CSV file
cleaned_csv_file_path = 'Cleaned_usxf_query_result.csv'

In [8]:
len(df_cleaned)

9934

In [9]:
df_cleaned.iloc[:,:3].to_csv(cleaned_csv_file_path, index=False)

In [10]:
b = df_cleaned[0].astype(str)
b

0        8708143965
1        7708459927
2        7604157973
3        6197507224
4        8436244940
            ...
9965     7325398881
9966     6308530915
9967     7077319298
9983     4123340844
10046    9412772676
Name: 0, Length: 9934, dtype: object

In [83]:
# Load the text file containing phone numbers
text_file_path = 'CellularOne_numbers.txt'

df_missing_check = pd.read_csv(text_file_path, header =None)

df_missing_check1 = df_missing_check.iloc[:, 0].astype(str).str.lstrip('1')

a = df_missing_check1

a

0         2542340037
1         2544220005
2         2544220068
3         2544220078
4         2544220092
             ...
165332    9857910962
165333    9857910966
165334    9857910980
165335    9857910984
165336    9857910994
Name: 0, Length: 165337, dtype: object

In [90]:
# To find all elements in dataframe A (df_cleaned) but not in dataframe B (assuming a similar structure),
# we will compare the 'phone_number' column of both dataframes.

# For demonstration, let's create a sample dataframe B with a similar structure to df_cleaned
# This will have some overlapping and some unique phone numbers


# Find elements in df_cleaned that are not in df_b
unique_in_df_cleaned = a[~a.isin(b)]

unique_in_df_cleaned= unique_in_df_cleaned.reset_index()  # Display the first few rows of the unique elements

unique_in_df_cleaned

      index           0
0       545  3183920982
1       546  3184169110
2      1739  4807974972
3      1767  5052360466
4      1771  5052979954
..      ...         ...
207   22454  9365541298
208   25273  5056861353
209   54922  9033852302
210   98366  9038107486
211  105602  4095252073

[212 rows x 2 columns]

In [89]:
unique_in_df_cleaned["index"]

0         545
1         546
2        1739
3        1767
4        1771
        ...
207     22454
208     25273
209     54922
210     98366
211    105602
Name: index, Length: 212, dtype: int64

In [91]:
# Dropping the column
unique_in_df_cleaned = unique_in_df_cleaned[0]
# Displaying the first few rows to confirm the change
unique_in_df_cleaned

0      3183920982
1      3184169110
2      4807974972
3      5052360466
4      5052979954
          ...
207    9365541298
208    5056861353
209    9033852302
210    9038107486
211    4095252073
Name: 0, Length: 212, dtype: object

In [94]:
unique_in_df_cleaned = '1' + unique_in_df_cleaned
unique_in_df_cleaned

0      13183920982
1      13184169110
2      14807974972
3      15052360466
4      15052979954
          ...
207    19365541298
208    15056861353
209    19033852302
210    19038107486
211    14095252073
Name: 0, Length: 212, dtype: object

In [95]:
unique_in_df_cleaned.to_csv('CellularOne_missing_numbers.csv',header=None, index=False)